<?xml version="1.0" encoding="UTF-8"?>
<apjobroot>
	<apjobs>
		<job>
			<id>JB00A1</id>
			<groupid>JB00A</groupid>
			<title>Sample job #1</title>
			<description>Description of sample job #1</description>
			<category>Test</category>
			<active>1</active>
			<time>13:57</time>
			<day></day>
			<date></date>
			<duedate></duedate>
			<command>cmd /c start E:\\script\\JB00A1.bat</command>
			<presentCommand>job:JB00A2</presentCommand>
		</job>
		<job>
			<id>JB00A2</id>
			<groupid>JB00A</groupid>
			<title>Sample job #2</title>
			<description>Description of sample job #2</description>
			<category>Test</category>
			<active>1</active>
			<time></time>
			<day></day>
			<date></date>
			<duedate></duedate>
			<command>cmd /c start E:\\script\\JB00A2.bat</command>
			<presentCommand>job:JB00A3</presentCommand>
		</job>
		<job>
			<id>JB00A3</id>
			<groupid>JB00A</groupid>
			<title>Sample job #3</title>
			<description>Description of sample job #3</description>
			<category>Test</category>
			<active>1</active>
			<time></time>
			<day></day>
			<date></date>
			<duedate></duedate>
			<command>cmd /c start E:\\script\\JB00A3.bat</command>
			<presentCommand></presentCommand>
		</job>
	</apjobs>
	<apjobgroups>
		<jobgroup>
			<id>JB00A</id>
			<title>Job Group JB00A</title>
			<description>Job Group purpose for Testing only</description>
		</jobgroup>
	</apjobgroups>
</apjobroot>